obj/
bin/
*.suo
*.obj
*.bin
*.exe
*.bak
*.swp
*.map
*.log
*~
UpgradeLog*
*.user
/Backup*/
node_modules
npm-debug.log
/packages/
/precompiled_web/
/TestResults/
/.vs/
*.min.css
*.sdf
*.bundle
App_Data/
appSettings.config
